.flexdatalist-results {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #444;
    border-top: none;
    background: #fff;
    z-index: 100000;
    max-height: 300px;
    overflow-y: auto;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
}
.flexdatalist-results li {
    border-bottom: 1px solid #ccc;
    padding: 8px 15px;
    font-size: 14px;
    line-height: 20px;
}
.flexdatalist-results li span.highlight {
    font-weight: 700;
    text-decoration: underline;
}
.flexdatalist-results li.active {
    background: #2B82C9;
    color: #fff;
    cursor: pointer;
}
.flexdatalist-results li.no-results {
    font-style: italic;
    color: #888;
}

/**
 * Grouped items
 */
.flexdatalist-results li.group {
    background: #F3F3F4;
    color: #666;
    padding: 8px 8px;
}
.flexdatalist-results li .group-name {
    font-weight: 700;
}
.flexdatalist-results li .group-item-count {
    font-size: 85%;
    color: #777;
    display: inline-block;
    padding-left: 10px;
}

/**
 * Multiple items
 */
.flexdatalist-multiple:before {
    content: '';
    display: block;
    clear: both;
}
.flexdatalist-multiple {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    cursor: text;
}
.flexdatalist-multiple.disabled {
    background-color: #eee;
    cursor: default;
}
.flexdatalist-multiple:after {
    content: '';
    display: block;
    clear: both;
}
.flexdatalist-multiple li {
    display: inline-block;
    position: relative;
    margin: 5px;
    float: left;
}
.flexdatalist-multiple li.input-container,
.flexdatalist-multiple li.input-container input {
    border: none;
    width: 280px;
    height: auto;
    padding: 0 0 0 4px;
    line-height: 24px;
}
.flexdatalist-multiple li.value {
    display: inline-block;
    padding: 2px 25px 2px 7px;
    background: #eee;
    border-radius: 3px;
    color: #777;
    line-height: 20px;
}
.flexdatalist-multiple li.toggle {
    cursor: pointer;
    -webkit-transition: opacity ease-in-out 300ms;
    transition: opacity ease-in-out 300ms;
}
.flexdatalist-multiple li.toggle.disabled {
    text-decoration: line-through;
    opacity: 0.80;
}

.flexdatalist-multiple li.value span.fdl-remove {
    font-weight: 700;
    padding: 2px 5px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.70;
}
.flexdatalist-multiple li.value span.fdl-remove:hover {
    opacity: 1;
}
a {
  color: #0099d8;
}

a:hover, a:focus {
  color: #6dcff6;
}

body {
  background: #f0f0f0;
}

#content-only {
  background-position: center;
  background-size: 100% auto;
  background-size: cover;
}

#content-only .card {
  -webkit-box-shadow: 0 4px 6px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.1);
          box-shadow: 0 4px 6px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

[data-balloon]:before, [data-balloon]:after {
  -webkit-transition: all 0.18s ease-out 0s;
  transition: all 0.18s ease-out 0s;
}

table.table tr.empty:hover .th, table.table tr.empty:hover .td {
  background: none !important;
}

.notification-as-title {
  font-weight: normal;
}

.notification-as-title strong {
  color: inherit;
}

p.title-timestamp {
  color: #7a7a7a !important;
  margin-left: 2rem;
}

.size-cell {
  text-align: right;
  width: 50px;
  color: #b5b5b5;
}

.descriptor {
  color: #7a7a7a;
}

td.heat-cell {
  width: 60px;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  line-height: 1rem;
  vertical-align: middle;
}

td.heat-cell span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
  width: 3px;
  margin: 0 1px;
  height: 0.8rem;
  background: #f2f2f2;
}

td.heat-cell .heat.heat-8 span:nth-child(-n+8) {
  background: #b5b5b5;
}

td.heat-cell .heat.heat-7 span:nth-child(-n+7) {
  background: #b5b5b5;
}

td.heat-cell .heat.heat-6 span:nth-child(-n+6) {
  background: #b5b5b5;
}

td.heat-cell .heat.heat-5 span:nth-child(-n+5) {
  background: #b5b5b5;
}

td.heat-cell .heat.heat-4 span:nth-child(-n+4) {
  background: #b5b5b5;
}

td.heat-cell .heat.heat-3 span:nth-child(-n+3) {
  background: #b5b5b5;
}

td.heat-cell .heat.heat-2 span:nth-child(-n+2) {
  background: #b5b5b5;
}

td.heat-cell .heat.heat-1 span:nth-child(-n+1) {
  background: #b5b5b5;
}

tr:hover .heat-cell span {
  background: white;
}

.table td.row-actions {
  padding-left: 0;
  padding-left: 0.75em;
  white-space: nowrap;
}

.table td.row-actions:first-child {
  padding-left: 0.75em;
}

.table td.row-actions span.icon {
  margin: 0 0.2rem;
}

a.disclosure-link {
  display: block;
}

a.disclosure-link span.icon {
  margin-right: 0.5rem;
}

a.disclosure-link .disclosure-text {
  color: black;
}

.hover-success:hover {
  color: #8dc63f !important;
}

.hover-warning:hover {
  color: #fdb515 !important;
}

.hover-danger:hover {
  color: #e9532b !important;
}

a.navbar-item.deselect-all:hover {
  color: #e9532b !important;
  background: none;
}

.form-actions {
  margin: 1.5rem 0;
}

.form-actions.right {
  text-align: right;
}

.columns.field-group {
  margin-bottom: 0;
}

.columns.field-group .column {
  padding-bottom: 0;
}

.columns.field-group .column .field {
  margin-bottom: 0.75rem;
}

.is-pulled-up {
  margin-top: -3rem;
}

.container.mid-only {
  max-width: 500px;
}

.container.mini {
  max-width: 750px;
}

.nowrap {
  white-space: nowrap;
}

.card + .card {
  margin-top: 1.5rem;
}

a.is-disabled {
  color: #dbdbdb !important;
}

a.is-disabled.hover-success:hover, a.is-disabled.hover-warning:hover, a.is-disabled.hover-danger:hover {
  color: #b5b5b5 !important;
}

a.is-disabled:hover {
  cursor: not-allowed !important;
}

.notification.is-warning hr.is-pulled-out {
  background: black;
}

table.table.icon-actions span.icon i {
  font-size: 1.25rem;
}

span.selectable {
  border: 1px solid #7a7a7a;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

tr:focus, tr.active, td:focus, td.active {
  outline: none;
}

th.indicator {
  background: white;
  padding: 0.7em 0.5em 0.2em;
  text-align: center;
}

th.indicator:hover {
  background: inherit;
}

.is-selectable tr td, .is-selectable tr th {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.is-selectable tr td.indicator {
  background: #f2f2f2;
  padding: 0.7em 0.5em 0.2em;
  text-align: center;
}

.is-selectable tr td.indicator:hover span.selectable {
  background: #007db7 !important;
}

.is-selectable tr.selected td.indicator {
  background: #007EB2 !important;
}

.is-selectable tr.selected .row-actions a {
  opacity: 0.2;
  color: white;
  pointer-events: none;
}

.is-selectable tr.selected:hover td, .is-selectable tr.selected:hover th {
  background: #007EB2 !important;
  -webkit-transition: 0s;
  transition: 0s;
}

.w-icon span.icon + span {
  margin-left: 0.5em;
}

tr.selected span.selectable {
  background: #8dc63f;
  -webkit-transition: 0s;
  transition: 0s;
  border-color: white;
}

tr.selected td, tr.selected th {
  background: #0099d8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

tr.selected td span.tag.is-info, tr.selected th span.tag.is-info {
  -webkit-box-shadow: 0 0 0px 1px white;
          box-shadow: 0 0 0px 1px white;
}

tr.selected td a, tr.selected th a {
  color: white;
}

tr.selected td strong, tr.selected th strong {
  color: white;
}

#multi-action {
  position: fixed;
  opacity: 0;
  z-index: 20;
  left: 0;
  right: 0;
  top: -80px;
  width: 100%;
  background: #121212;
  padding: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#multi-action.is-active {
  top: 0;
  opacity: 1;
}

#multi-action nav.navbar {
  background: none;
  color: white;
}

#multi-action nav.navbar p {
  color: white;
}

#multi-action nav.navbar a {
  color: white;
}

#multi-action nav.navbar strong {
  color: white;
}

#multi-action nav.navbar .navbar-end .navbar-item {
  padding-left: 0;
}

.table.no-margin {
  margin: 0;
}

.table.no-margin thead tr > th, .table.no-margin thead tr > td {
  padding-top: 1.8rem;
}

.error-number {
  background: red;
  color: white;
  border-radius: 50%;
  font-weight: bold;
}

.audit-filter {
  float: right;
  max-width: 250px;
}

.audit-filter.wide {
  width: 260px;
  max-width: none;
}

.audit-daterange-picker span.is-right:hover {
  color: #e9532b;
}

.empty-tab {
  width: 1.5rem;
}

.card-middle {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#footer-nav {
  margin-top: 1rem;
}

.card-search, .card-action {
  float: right;
  padding: 13px 10px 8px 2px;
}

.card-search .dropdown-item span.icon, .card-action .dropdown-item span.icon {
  margin-right: 0.5rem;
}

.card-search input, .card-action input {
  border-radius: 50px;
  padding-left: 1rem;
}

.dropdown-content {
  -webkit-box-shadow: 0 2px 14px rgba(10, 10, 10, 0.3), 0 0 0 1px rgba(10, 10, 10, 0.1);
          box-shadow: 0 2px 14px rgba(10, 10, 10, 0.3), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.card-mini {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border-radius: 4px;
  z-index: inherit;
}

.card table.table + hr {
  margin-top: -1.5rem;
}

.card .card-title {
  font-size: 1.8rem;
  padding: 0.75rem 1.25rem;
  color: #f57f29;
  font-weight: 600;
}

.card .card-title p {
  font-size: 1rem;
  font-weight: normal;
}

@media (min-width: 769px) {
  .modal.wide .modal-content, .modal.wide .modal-card {
    width: 1200px !important;
    max-width: calc(100vw-40px);
  }
}

.dashboard-group h2 {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  font-weight: 600;
  color: #7a7a7a;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.card .card-content.card-rows {
  padding: 0;
}

a.card-row {
  display: block;
  padding: 1rem 1.5rem;
  color: #7a7a7a;
  border-bottom: 1px solid #dbdbdb;
}

a.card-row:hover {
  background: #f2f2f2;
}

a.card-row h3 {
  color: #0099d8;
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

#login-logo {
  display: inline-block;
  height: 2.6rem;
  float: right;
}

.navbar-brand a.navbar-item img {
  max-height: 2.15rem;
  margin-right: 0.5rem;
  display: inline-block;
}

.navbar-brand a.navbar-item:hover img {
  -webkit-box-shadow: 0 0 0px 3px white;
          box-shadow: 0 0 0px 3px white;
}

#navbar-alerts.has-dropdown {
  background: white;
}

#navbar-alerts.has-dropdown > a.navbar-link, #navbar-alerts.has-dropdown > .top-link {
  color: #7a7a7a;
}

#navbar-alerts.has-dropdown > a.navbar-link:after {
  border-color: #7a7a7a;
}

#navbar-alerts.has-dropdown > a.navbar-link:focus, #navbar-alerts.has-dropdown > a.navbar-link:active {
  outline: none;
}

#navbar-alerts.has-dropdown.has-items {
  background: #0099d8;
}

#navbar-alerts.has-dropdown.has-items:hover a.navbar-link, #navbar-alerts.has-dropdown.has-items:focus a.navbar-link, #navbar-alerts.has-dropdown.has-items:active a.navbar-link {
  background: #007EB2;
  outline: none;
}

#navbar-alerts.has-dropdown.has-items a.navbar-link.top-link {
  background: none !important;
  outline: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

#navbar-alerts.has-dropdown.has-items a.navbar-link:after {
  border-color: white;
}

#navbar-alerts.has-dropdown .navbar-dropdown {
  padding: 0;
  width: 550px;
  max-width: 100vw;
  -webkit-box-shadow: 0 8px 12px rgba(10, 10, 10, 0.15);
          box-shadow: 0 8px 12px rgba(10, 10, 10, 0.15);
  overflow: hidden;
  border-bottom-right-radius: 0;
}

#navbar-alerts.has-dropdown .alert-item {
  border-bottom: #dbdbdb 1px solid;
  white-space: normal;
}

#navbar-alerts.has-dropdown .alert-item:last-child {
  border-bottom: none;
}

#navbar-alerts.has-dropdown .alert-item.unread {
  background: #d9f0fa;
}

#navbar-alerts.has-dropdown p.alert-group {
  background: #f2f2f2;
  display: block;
  border-bottom: #dbdbdb 1px solid;
}

table.table.timeseries th, table.table.timeseries td {
  vertical-align: middle;
}

tr.subfield th {
  color: #4a4a4a;
  text-indent: 1em;
  font-weight: normal;
}

tr.subfield td, tr.subfield th {
  background-color: #f8f8f8;
  min-height: 45px;
}

.alert-item span.icon {
  margin-right: 1rem !important;
  display: inline-block;
  font-size: 1.5em;
  line-height: 1em;
}

.notification-list .alert-item {
  border-bottom: #dbdbdb 1px solid;
}

.notification-list .alert-item:first-child {
  border-top: #dbdbdb 1px solid;
}

.notification-list .alert-item.no-link {
  cursor: default;
}

a:focus, a:active {
  color: inherit;
}

.card-header.no-bottom {
  border-bottom: none;
  margin-bottom: -1rem;
}

.utility-belt {
  padding: 1rem;
}

.stats-table {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 1rem;
}

.stats-table td, .stats-table th {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.stats-table td {
  vertical-align: middle;
}

.stats-table th.num-box.is-active + td {
  font-weight: bold;
}

.stats-table th.num-box.is-active + td:hover {
  cursor: pointer;
}

.stats-table .num-box {
  width: 5rem;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: right;
  background: #eee;
}

.stats-table .num-box.is-active {
  font-weight: bold;
  background-color: #0099d8;
  color: white;
}

.stats-table tr:hover .num-box.is-active {
  background-color: #007db7;
}

.stats-table .num-box a {
  width: 5rem;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: right;
  color: inherit;
}

.stats-table .num-box.is-active a {
  font-weight: bold;
  color: white;
}

.stats-table.link-row td:hover, .stats-table.link-row th:hover {
  cursor: pointer;
}

.checkbox.is-danger {
  color: #e9532b;
}

.modal-card-head, .modal-card-foot {
  background: white;
}

.modal-card-title {
  color: #f57f29;
  font-size: 2em;
}

.modal-card-title.alt {
  color: black;
  font-size: 1rem;
}

.modal-card-title.alt h2 {
  color: #f57f29;
  font-size: 2em;
  margin: 0 0 0.5rem;
}

.modal-card-title.alt p {
  margin: 0 0 0.5rem;
  line-height: 1.3em;
}

.arrow-column {
  padding-right: 0;
  padding-left: 9px;
}

.notification p.meta {
  font-size: 0.8em;
  opacity: 0.8;
}

.notification.is-info label {
  color: white;
}

.notification.is-info hr.is-pulled-out {
  margin: 1.5rem -1.5rem 1.5rem -1.5rem;
  border-top: none;
  border-bottom: 1px solid white;
}

.notification.is-info .notification-next {
  padding-top: 0;
}

.notification.is-info .button.is-outlined {
  color: white;
  border-color: white;
  background: none;
}

.notification.is-info .button.is-link {
  color: white;
}

.notification.is-info .button.is-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.has-item-selected .button {
  opacity: 0.3;
}

.has-item-selected .button:hover {
  opacity: 1;
}

.notification {
  padding-right: 1.5rem;
}

.notification .form-actions:last-child {
  margin-bottom: 0;
}

.notification h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.columns.is-gapless.no-margin {
  margin-bottom: 0;
}

.notification-actions {
  margin: -5px 0 -5px 0;
}

.card-header {
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  border-bottom: 1px solid #dbdbdb;
}

.card-content .card-divider {
  margin: 1.5rem -1.5rem 1.5rem;
}

.card-divider.with-label {
  position: relative;
  overflow: visible;
}

.level-stats {
  margin: 0rem 0;
}

.level-stats .level {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.level-stats .level-item {
  margin: 1rem 0;
  width: 19%;
}

.modal-card-foot.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-card-foot.right .field.has-addons {
  margin-bottom: 0;
  margin-right: 1em;
}

.modal-card-foot.right .field.has-addons:last-child {
  margin-right: 0;
}

.modal-card-foot.right .confirm-prompt {
  margin-right: 0.5rem;
  vertical-align: baseline;
  line-height: 2em;
  font-weight: bold;
}

.modal-card-foot.right .foot-group {
  margin-right: 1rem;
}

.field.has-addons .control .button.is-light {
  border-left: 1px solid #ccc;
}

.field.has-addons .control:first-child .button.is-light {
  border-left: none;
}

.is-pulled-out {
  margin-left: -1.5em;
  margin-right: -1.5em;
}

.modal-card-head.alt {
  padding-bottom: 0;
  border-bottom: none;
}

.card-divider:hover {
  cursor: pointer;
}

.card-divider.with-label:after {
  content: attr(data-label);
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 3px 1rem;
  background: white;
  font-size: 0.9rem;
  color: #777;
  letter-spacing: 0.15em;
  font-weight: bold;
}

.hero.mini .hero-body {
  padding: 0rem 0.7rem;
  margin: 0.5rem 0;
}

.sec-label {
  color: #f57f29;
}

fieldset {
  border: none;
  margin: 1rem 0;
}

.input[readonly], .input[readonly]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #f2f2f2;
  border-color: #dbdbdb;
}

.input[readonly]:hover, .input[readonly]:focus:hover {
  border-color: #dbdbdb;
}

.select select[disabled] {
  background: #f2f2f2;
  border-color: #dbdbdb;
}

.icon.faded {
  opacity: 0.5;
}

.readonly-list {
  margin: 0.25rem 0;
  text-indent: -1.5rem;
  margin-left: 2.3rem;
  opacity: 0.5;
}

.readonly-list span.icon {
  margin-right: 0.1rem;
}

.readonly-list .fa.fa-check-circle {
  display: none;
}

.readonly-list .fa.fa-circle-thin {
  display: inline-block;
}

.readonly-list.selected {
  opacity: 1;
}

.readonly-list.selected .fa.fa-check-circle {
  display: inline-block;
}

.readonly-list.selected .fa.fa-circle-thin {
  display: none;
}

.mid-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.divider {
  border-top: #b5b5b5;
}

h1, h2, h3 {
  color: #f57f29;
}

#upload-progress-num {
  text-align: center;
  font-weight: bold;
  margin: 0 0 1rem 0;
  color: black;
  font-size: 2rem;
}

#upload-progress-status {
  margin: 1rem 0 0;
  text-align: center;
  color: #7a7a7a;
  font-weight: bold;
}

#upload-progress-hint {
  margin: 1rem 0 0;
  text-align: center;
  color: #7a7a7a;
}

.upload-progress-bar-mini {
  display: inline-block;
  width: 105px;
  line-height: 1rem;
  vertical-align: middle;
}

.is-inactive {
  opacity: 0.3;
}

td.amt, th.amt {
  text-align: right !important;
}

.mini-pct {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.upper {
  text-transform: uppercase;
}

.name-segments.boxed {
  border: 1px solid #dbdbdb;
  padding-bottom: calc(0.375em - 3px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 3px);
  border-radius: 3px;
}

.name-segments span {
  display: inline-block;
  margin: 0.1em;
  border-bottom: 1px solid white;
}

.name-segments span:hover {
  border-bottom: 1px solid #007db7 !important;
  color: #007db7;
}

.name-segments:hover span {
  border-bottom: 1px solid #dbdbdb;
}

.entity-list {
  padding-left: 1rem;
}

.entity-list li {
  margin: 1rem 0;
}

.entity-list li:first-child {
  margin-top: 0;
}

.entity-list li:last-child {
  margin-bottom: 0;
}

.help {
  font-size: 0.9rem;
}

.card-content .card-title {
  padding: 0 0;
  margin: 0 0 1rem;
}

div.empty {
  padding: 12em 0;
  text-align: center;
}

div.empty .icon i {
  color: #7a7a7a;
}

div.empty h4 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #f57f29;
}

.modal-card div.empty {
  padding: 8rem 0;
}

.flexdatalist-results .item-code, .flexdatalist-results .product-code, .flexdatalist-results .item-category, .flexdatalist-results .location-code, .code-desc .item-code, .code-desc .product-code, .code-desc .item-category, .code-desc .location-code {
  display: inline-block;
  width: 55px;
  color: white;
  background: #007db7;
  padding: 1px 8px;
  margin: 0 8px 0 0;
  border-radius: 2px;
  font-size: 0.8em;
  font-weight: bold;
}

.flexdatalist-results .product-code, .code-desc .product-code {
  background: #8dc63f;
}

.flexdatalist-results .item-category, .code-desc .item-category {
  background: #7a7a7a;
  text-transform: uppercase;
  width: auto;
}

.flexdatalist-results .location-code, .code-desc .location-code {
  background: #7a7a7a;
  width: auto;
}

.meta-info {
  display: inline-block;
  border-bottom: 1px dotted #dbdbdb;
}

#create-principal-product-id-flexdatalist-results .item-code, #create-principal-product-code-flexdatalist-results .item-code, #create-other-products-flexdatalist-results .item-code {
  background: #8dc63f;
}

.flexdatalist-multiple li.value {
  z-index: 19;
  color: #242424;
  background: #dbdbdb;
}

.flexdatalist-multiple li.input-container, .flexdatalist-multiple li.input-container input {
  border: none;
  height: auto;
  padding: 1px 10px 2px 4px;
  line-height: 24px;
  width: 100%;
  margin: 0;
}

.flexdatalist-alias {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.flexdatalist-alias:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.radio.subtitle {
  margin-bottom: 0.5rem;
}

.radio-help {
  margin: 0.2rem 0 1.5rem 0.4rem;
  border-left: 1px solid #ccc;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
}

.radio-help p {
  margin: 0 0 1rem;
}

.has-floating-remove {
  position: relative;
}

.has-floating-remove .floating-remove {
  position: absolute;
  display: none;
  top: 0rem;
  right: 0rem;
  z-index: 12;
  padding: 2px 2px 0 2px;
  background: white;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-radius: 0 5px 0 5px;
  color: #7a7a7a;
}

.has-floating-remove:hover .floating-remove {
  display: block;
}

.card .card-header:last-child {
  border-bottom: none;
}

.card.card-toggle {
  margin: 1rem 0;
}

.card.card-toggle .card-header {
  border-bottom: none;
}

.card.card-toggle .card-header em {
  color: #7a7a7a;
  font-weight: normal;
  margin-left: 1rem;
}

.card.card-toggle .card-header:hover {
  cursor: pointer;
  background: #f2f2f2;
}

.card.card-toggle .card-content {
  border-top: 1px solid #dbdbdb;
}

.x-wrapper {
  position: relative;
}

.x-wrapper .x-fader {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  opacity: 0.9;
  z-index: 10;
  pointer-events: none;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.x-wrapper .x-fader.right {
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(47%, rgba(255, 255, 255, 0.59)), color-stop(80%, white), color-stop(100%, white));
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(47%, rgba(255, 255, 255, 0.59)), color-stop(80%, white), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.59) 47%, white 80%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.x-wrapper .x-fader.hidden {
  opacity: 0;
}

.x-wrapper .x-fader.left {
  background: white;
  background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(20%, white), color-stop(53%, rgba(255, 255, 255, 0.59)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(20%, white), color-stop(53%, rgba(255, 255, 255, 0.59)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, white 20%, rgba(255, 255, 255, 0.59) 53%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
  left: 0;
}

.x-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 9;
  position: relative;
}

.intent-view span.required {
  display: none;
}

.no-expand {
  max-width: 100%;
}

span.required {
  color: #b5b5b5;
  font-size: 0.7rem;
  vertical-align: text-top;
  margin-left: 0rem;
}

span.required .icon.is-small i.fa {
  font-size: 0.7rem;
}

.notification span.icon:first-child {
  margin-right: 0.5rem;
}

.icon.is-large {
  font-size: 3rem;
}

.row-remove span.icon i {
  color: #7a7a7a;
}

a.button.row-remove.upper-right-corner {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-style: none;
  border-right-style: none;
}

.notification.app-violator {
  position: relative;
  padding-left: 55px;
  margin: -15px -20px 1rem;
  border-radius: 0;
}

.notification.app-violator .icon.main {
  position: absolute;
  top: 18px;
  left: 20px;
}

.report-loading {
  text-align: center;
  padding: 8rem 0;
  position: relative;
  border-radius: 0;
}

.report-loading span.icon.main {
  position: static;
  left: auto;
  top: auto;
  display: block;
  text-align: center;
  margin: 1rem auto;
}

.message-card {
  max-width: 500px;
}

.message-card h2 {
  font-weight: 600;
  font-size: 2rem;
  margin: 0 0 1.2rem 0;
  line-height: 1.1em;
}

.message-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.2rem 0;
  color: #7a7a7a;
  line-height: 1.2em;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9990;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.86);
  color: white;
}

#loading #spinner {
  position: absolute;
  top: 48%;
  left: 50%;
}

#loading #spinner i {
  font-size: 90px;
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal .divider {
  margin: 0 0 0 0;
}

.modal .modal-container {
  border-radius: 4px;
}

.modal .modal-container .modal-header > .modal-title {
  color: #f57f29;
  font-size: 2.5rem;
  font-weight: 500;
}

td.empty {
  padding: 4rem 1rem;
  text-align: center;
  color: #7a7a7a;
}

.content h5 {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  font-weight: 600;
  color: #7a7a7a;
  text-transform: uppercase;
}

a.file-item {
  padding: 0.8rem 1.5rem;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.file-item:hover {
  background: #f2f2f2;
  -webkit-transition: 0s;
  transition: 0s;
}

a.file-item .icon {
  margin: 0.2rem 1rem 0 0;
}

a.file-item p {
  line-height: 1.3em;
  margin: 0;
}

a.file-item p small {
  color: #7a7a7a;
}

.link-group h5, .link-group a {
  line-height: 2em;
}

.link-group h5 {
  margin-bottom: 0;
}

.link-group a {
  display: block;
}

#app #app-canvas {
  min-width: 100vw;
}

#app #app-canvas #app-navbar {
  border-bottom: 4px solid #0099d8;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

#app #app-canvas #app-navbar .navbar-item.has-dropdown span.icon {
  margin-right: 0.5rem;
}

#app #app-canvas #app-content {
  min-height: 100vh;
  width: calc(100vw - 180px);
}

#app #app-canvas #app-main {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
  min-height: 100vh;
}

#app #app-canvas #app-main #app-content {
  padding: 65px 20px 20px !important;
}

#app #app-canvas #app-main #app-sidebar {
  background: #0099d8;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
  min-height: 100vh;
  -webkit-box-shadow: 1px 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 0 8px rgba(0, 0, 0, 0.3);
  z-index: 19;
}

#app #app-canvas #app-main #app-sidebar #app-sidebar-nav {
  position: fixed;
  top: 50px;
  width: 180px;
  z-index: 19;
}

#app #app-canvas #app-main #app-sidebar #app-sidebar-nav .navx {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}

#app #app-canvas #app-main #app-sidebar #app-sidebar-nav .navx .navx-item {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
  position: relative;
}

#app #app-canvas #app-main #app-sidebar #app-sidebar-nav .navx .navx-item:hover .sub-nav {
  display: block;
  background: #565656;
  position: absolute;
  left: 180px;
  width: 200px;
  top: 0;
  z-index: 19;
}

#app #app-canvas #app-main #app-sidebar #app-sidebar-nav .navx .navx-item:hover .sub-nav .sub-nav-item:hover {
  background: #787878;
}

#app #app-canvas #app-main #app-sidebar #app-sidebar-nav .navx .navx-item a {
  padding: 20px 25px !important;
  margin: 0 0 0 0 !important;
  color: #ebebeb;
  font-weight: 700;
  display: block;
  font-size: 1rem;
}

#app #app-canvas #app-main #app-sidebar #app-sidebar-nav .navx .navx-item:hover > a {
  background: #787878;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

#app #app-canvas #app-main #app-sidebar #app-sidebar-nav .navx .navx-item .sub-nav {
  display: none;
  background: #565656;
}

#app #app-off-canvas {
  display: none;
}

#app #app-off-canvas > * {
  display: block;
}

#app.role-administrator #app-navbar {
  border-bottom: 4px solid #0099d8 !important;
}

#app.role-administrator #app-sidebar {
  background: #454545 !important;
}

#app.role-administrator #app-sidebar-nav {
  background: none;
}

#app.role-supervisor #app-navbar {
  border-bottom: 4px solid #fdb515 !important;
}

#app.role-supervisor #app-sidebar {
  background: #454545 !important;
}

#app.role-supervisor #app-sidebar-nav {
  background: none;
}

#app.role-encoder #app-navbar {
  border-bottom: 4px solid #8dc63f !important;
}

#app.role-encoder #app-sidebar {
  background: #454545 !important;
}

#app.role-encoder #app-sidebar-nav {
  background: none;
}

#app.role-stakeholder #app-navbar {
  border-bottom: 4px solid #00b6c9 !important;
}

#app.role-stakeholder #app-sidebar {
  background: #454545 !important;
}

#app.role-stakeholder #app-sidebar-nav {
  background: none;
}

.fake-1, .fake-2, .fake-3, .fake-4, .fake-5, .fake-6, .fake-7, .fake-8, .fake-9, .fake-10 {
  display: inline-block;
  background: #dbdbdb;
  height: 1rem;
  line-height: 1.3rem;
}

.fake-1 {
  width: 40px;
}

.fake-2 {
  width: 80px;
}

.fake-3 {
  width: 120px;
}

.fake-4 {
  width: 160px;
}

.fake-5 {
  width: 200px;
}

.fake-6 {
  width: 240px;
}

.fake-7 {
  width: 280px;
}

.fake-8 {
  width: 320px;
}

.fake-9 {
  width: 360px;
}

.fake-10 {
  width: 400px;
}

.tabs.is-boxed li a.diff-tab {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tabs.is-boxed li.is-active a.diff-tab {
  background-color: #d5ecf6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.card-footer {
  padding: 1rem 1rem;
}

.notification.one-liner p {
  margin: 0.4rem 0.2rem;
}

.notification.one-liner p span.icon {
  margin-right: 0.5rem;
}

.content-tab.diff-content {
  background: #d5ecf6;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #d5ecf6), color-stop(100%, #fefefe));
  background: -webkit-gradient(linear, left top, left bottom, from(#d5ecf6), to(#fefefe));
  background: linear-gradient(to bottom, #d5ecf6 0%, #fefefe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ecf6', endColorstr='#fefefe', GradientType=0 );
  margin: -1.5rem;
}

.content-tab.diff-content .padding {
  padding: 1.5rem;
}

.content-tab.diff-content .padding table.table {
  background: none;
}

.content-tab.diff-content .padding table.table thead th, .content-tab.diff-content .padding table.table thead td {
  border-color: #0099d8;
}

.content-tab.diff-content .padding table.table tr:hover td, .content-tab.diff-content .padding table.table tr:hover th {
  background: rgba(0, 0, 0, 0.1);
}

.input.is-success[readonly], .select.is-success select[disabled], .is-success .name-segments.boxed {
  border-color: #8dc63f;
  background: rgba(141, 198, 63, 0.2);
}

.input.is-danger[readonly], .select.is-danger select[disabled], .is-danger .name-segments.boxed {
  border-color: #e9532b !important;
}

.input.is-info[readonly], .select.is-info select[disabled], .is-info .name-segments.boxed {
  border-color: #0099d8;
  background: #d9f0fa;
}

.field.is-info label.label {
  color: #0099d8;
}

.field.is-success label.label {
  color: #8dc63f;
}

.dashboard-activity {
  max-height: 220px;
  padding: 0 15px;
  overflow-y: scroll;
}

.dashboard-activity .empty {
  padding: 4em 0;
}

.dashboard-activity .empty h4 {
  color: #dbdbdb;
}

.chop td {
  word-break: break-word;
}

.modal-full-height .modal-card {
  height: calc(100vh - 40px);
}

.tab-badge {
  display: inline-block;
  background: #0099d8;
  padding: 0 0.5em;
  margin: 0 0 0 0.5em;
  color: white;
  border-radius: 50px;
}

.tab-badge.is-success {
  background: #8dc63f;
}

.tab-badge.is-danger {
  background: #e9532b;
}

.tab-badge.is-light {
  background: #dbdbdb;
}

#app-sidebar-inner {
  width: 180px;
  height: 200px;
}

@media (min-width: 769px) {
  #search-refine {
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
  }
}

@media (max-width: 768px) {
  #app-content {
    width: auto !important;
  }
  #app #app-canvas #app-main #app-sidebar {
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    width: 100%;
    min-height: auto !important;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #app #app-canvas #app-main #app-sidebar.is-active {
    max-height: 1000px;
  }
  #app #app-canvas #app-main #app-sidebar #app-sidebar-inner {
    height: auto;
    width: 100%;
    padding-top: 50px;
  }
  #app #app-canvas #app-main #app-sidebar #app-sidebar-inner #app-sidebar-nav {
    position: static;
  }
}

@media (max-width: 1200px) {
  .level-stats .level-item {
    width: 48%;
  }
}

@media (min-width: 1100px) {
  .modal-card-body {
    overflow-x: hidden;
  }
}

[v-cloak] {
  display: none;
}
