@import "variables";
@import "./jquery.flexdatalist.css";
// div, article, aside, details, figcaption, figure, footer, header,
// , main, mark, nav, section, summary, time, ul, ol, form {
// 	// guidelines for block elements
// 	border: 1px dotted $error !important;
// }


a {
	color: $blue;
	&:hover, &:focus {
		color: $blue-light;
	}
}
body {
	background: #f0f0f0;
}
#content-only {
	background-position: center;
	background-size: 100% auto;
	background-size: cover;
	.card {
		box-shadow: 0 4px 6px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.1)
	}
}
[data-balloon]:before, [data-balloon]:after {
	transition: all 0.18s ease-out 0s;
}
table.table tr.empty:hover {
	.th, .td {
		background: none !important;
	}
}
.notification-as-title {
	font-weight: normal;

	strong {
		color: inherit;
	}
}
p.title-timestamp {
	color: $grey !important;
	margin-left: 2rem;
}
.size-cell {
	text-align: right;
	width: 50px;
	color: $grey-light;
}
.descriptor {
	color: $grey;
}
td.heat-cell {
	width: 60px;
	text-align: center;
	white-space: nowrap;
	font-size: 0;
	line-height: 1rem;
	vertical-align: middle;
	span {
		display: inline-block;
		vertical-align: middle;
		line-height: 1rem;
		width: 3px;
		margin: 0 1px;
		height: 0.8rem;
		background: $white-bis;
	}
	.heat {
		&.heat-8 span:nth-child(-n+8) { background: $grey-light; }
		&.heat-7 span:nth-child(-n+7) { background: $grey-light; }
		&.heat-6 span:nth-child(-n+6) { background: $grey-light; }
		&.heat-5 span:nth-child(-n+5) { background: $grey-light; }
		&.heat-4 span:nth-child(-n+4) { background: $grey-light; }
		&.heat-3 span:nth-child(-n+3) { background: $grey-light; }
		&.heat-2 span:nth-child(-n+2) { background: $grey-light; }
		&.heat-1 span:nth-child(-n+1) { background: $grey-light; }
	}
}
tr:hover {
	.heat-cell {
		span {
			background: white;
		}
	}
}
.table td.row-actions {
	padding-left: 0;
	padding-left: 0.75em;
	&:first-child {
		padding-left: 0.75em;
	}
	white-space: nowrap;
	span.icon {
		margin: 0 0.2rem;
	}
}
a.disclosure-link {
	display: block;
	span.icon {
		margin-right: 0.5rem;
	}
	.disclosure-text {
		color: black;
	}
}
.hover-success:hover { color: $green !important; }
.hover-warning:hover { color: $orange !important; }
.hover-danger:hover { color: $red !important; }
a.navbar-item.deselect-all:hover {
	color: $red !important;
	background: none;
}
.form-actions {
	margin: 1.5rem 0;
	&.right {
		text-align: right;
	}
}
.columns.field-group {
	margin-bottom: 0;
	.column {
		padding-bottom: 0;
		.field {
			margin-bottom: 0.75rem;
		}
	}
}
.is-pulled-up {
	margin-top: -3rem;
}
.container.mid-only {
	max-width: 500px;
}
.container.mini {
	max-width: 750px;
}
.nowrap {
	white-space: nowrap;
}
.card+.card {
	margin-top: 1.5rem;
}
a.is-disabled {
	color: $grey-lighter !important;
	&.hover-success, &.hover-warning, &.hover-danger {
		&:hover {
			color: $grey-light !important;
		}
	}
	&:hover {
		cursor: not-allowed !important;
	}
}
.notification.is-warning {
	hr.is-pulled-out {
		background: black;
	}
}
table.table.icon-actions {
	span.icon i {
		font-size: 1.25rem;
	}
}
span.selectable {
	border: 1px solid $grey;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 20px;
	margin: 0 auto;
	transition: 0.3s;
}
tr, td {
	&:focus, &.active {
		outline:none;
	}
}
th.indicator {
	background: white;
	padding: 0.7em 0.5em 0.2em;
	text-align: center;
	&:hover {
		background: inherit;
	}
}
.is-selectable {
	tr {
		td, th {
			transition: 0.3s;
		}
		td.indicator {
			background: $white-bis;
			padding: 0.7em 0.5em 0.2em;
			text-align: center;
		}
		td.indicator:hover {
			span.selectable {
				background: $primary !important;
			}
		}
	}
	tr.selected {
		td.indicator {
			background: $blue-dark !important;
		}
		.row-actions a {
			opacity: 0.2;
			color: white;
			pointer-events: none;
		}
	}
}
.is-selectable {
	tr.selected:hover {
		td, th {
			background: $blue-dark !important;
			transition: 0s;
		}
	}
}
.w-icon {
	span.icon+span {
		margin-left: 0.5em;
	}
}
tr.selected {
	span.selectable {
		background: $green;
		transition: 0s;
		border-color: white;
	}
	td,th {
		background: $blue;
		transition: 0.3s;
		color: white;
		span.tag.is-info {
			box-shadow: 0 0 0px 1px white;
		}
		a {
			color: white;
		}
		strong {
			color: white;
		}
	}
}
#multi-action {
	position: fixed;
	opacity: 0;
	z-index: 20;
	left: 0;
	right: 0;
	top: -80px;
	width: 100%;
	background: $black-bis;
	padding: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transition: 0.3s;
	&.is-active {
		top: 0;
		opacity: 1;
	}
	nav.navbar {
		background: none;
		color: white;
		p {
			color: white;
		}
		a {
			color: white;
		}
		strong { 
			color: white;
		}
		.navbar-end .navbar-item {
			padding-left: 0;
		}
	}
}
.table.no-margin {
	margin: 0;
	thead tr {
		>th, >td {
			padding-top: 1.8rem;
		}
	}
}
.error-number {
	background: red;
	color: white;
	border-radius: 50%;
	font-weight: bold;
}
.audit-filter {
	float: right;
	max-width: 250px;
	&.wide {
		width: 260px;
		max-width: none;
	}
}
.audit-daterange-picker span.is-right:hover {
	color: $red;
}

.empty-tab {
	width: 1.5rem;
}
.card-middle {
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
}
#footer-nav {
	margin-top: 1rem;
}
.card-search, .card-action {
	float: right;
	padding: 13px 10px 8px 2px;
	.dropdown-item {
		span.icon {
			margin-right: 0.5rem;
		}
	}
	input {
		border-radius: 50px;
		padding-left: 1rem;
	}
}
.dropdown-content {
	box-shadow: 0 2px 14px rgba(10, 10, 10, 0.3), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.card-mini {
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
}
.card {
	border-radius: 4px;
	z-index: inherit;
	//
	table.table+hr {
		margin-top: -1.5rem;
	}
	.card-title {
		font-size: 1.8rem;
		padding: 0.75rem 1.25rem;
		color: $orange-dark;
		font-weight: 600;
		
		p {
			font-size: 1rem;
			font-weight: normal;
		}
	}
}
@media (min-width: 769px) {
	.modal.wide {
		.modal-content, .modal-card {
			width: 1200px !important;
			max-width: calc(100vw-40px);
		}
	}
}
.dashboard-group {
	h2 {
		font-size: 1rem;
		margin: 0 0 1rem 0;
		font-weight: 600;
		color: $grey;
		text-transform: uppercase;
		letter-spacing: 0.15em;
	}
}
.card .card-content.card-rows {
	padding: 0;
}
a.card-row {
	display: block;
	padding: 1rem 1.5rem;
	color: $grey;
	border-bottom: 1px solid $grey-lighter;
	&:hover {
		background: $white-bis;
	}
	h3 {
		color: $blue;
		margin: 0;
		font-size: $size-5;
		font-weight: bold;
	}
}
#login-logo {
	display: inline-block;
	height: 2.6rem;
	float: right;
}
.navbar-brand a.navbar-item {
	img {
		max-height: 2.15rem;
		margin-right: 0.5rem;
		display: inline-block;
	}
	&:hover {
		img {
			box-shadow: 0 0 0px 3px white;
		}
	}
}
#navbar-alerts.has-dropdown {
	background: $white;
	> a.navbar-link, >.top-link {
		color: $grey;
	}
	> a.navbar-link:after {
		border-color: $grey;
	}
	> a.navbar-link {
		&:focus, &:active {
			outline: none;
		}
	}
	&.has-items {
		background: $blue;

		&:hover a.navbar-link, &:focus a.navbar-link, &:active a.navbar-link  {
			background: $blue-dark;
			outline: none;
		}
		a.navbar-link.top-link {
			background: none !important;
			outline: none !important;

			transition: 0.3s;
			color: white;
		}
		a.navbar-link:after {
			border-color: white;
		}
	}
	.navbar-dropdown {
		padding: 0;
		width: 550px;
		max-width: 100vw;
		box-shadow: 0 8px 12px rgba(10, 10, 10, 0.15);
		overflow: hidden;
		border-bottom-right-radius: 0;
	}
	.alert-item {
		border-bottom: $grey-lighter 1px solid;
		white-space: normal;
		&:last-child {
			border-bottom: none;
		}
		&.unread {
			background: $blue-lighter;
		}
	}
	
	p.alert-group {
		background: $white-bis;
		display: block;
		border-bottom: $grey-lighter 1px solid;
		
	}
}
table.table.timeseries {
	th, td {
		vertical-align: middle;
	}
}
tr.subfield {
	th {
	color: $grey-dark;
	text-indent: 1em;
	font-weight: normal;
	}
	td, th {
		background-color: #f8f8f8;
		min-height: 45px;
	}
}
.alert-item {
	span.icon {
		margin-right: 1rem !important;
		display: inline-block;
		font-size: 1.5em;
	    line-height: 1em;
	}
}
.notification-list {
	.alert-item {
		border-bottom: $grey-lighter 1px solid;
		&:first-child {
			border-top: $grey-lighter 1px solid;
		}
		&.no-link {
			cursor: default;
		}
	}
}
a {
	&:focus, &:active {
		color: inherit;
	}
}
.card-header.no-bottom {
	border-bottom: none;
	margin-bottom: -1rem;
}
.utility-belt {
	padding: 1rem;
}
.stats-table {
	border-top: 1px solid $grey-lighter;
	border-bottom: 1px solid $grey-lighter;
	margin-bottom: 1rem;
	td, th {
		transition: background 0.3s;
	}
	td {
		vertical-align: middle;
	}
	th.num-box.is-active + td {
		font-weight: bold;
		&:hover {
			cursor: pointer;
		}
	}
	.num-box {
		width: 5rem;
		font-size: 1.2rem;
		font-weight: normal;
		text-align: right;
		background: #eee;
		&.is-active {
			font-weight: bold;
			background-color: $blue;
			color: white;
		}
	}
	tr:hover .num-box.is-active {
		background-color: $primary;		
	}
	.num-box a {
		width: 5rem;
		font-size: 1.2rem;
		font-weight: normal;
		text-align: right;
		color: inherit;
	}
	.num-box.is-active a {
		font-weight: bold;
		color: white;
	}
}
.stats-table.link-row {
	td, th {
		&:hover {
			cursor: pointer;
		}
	}
}
.checkbox.is-danger {
	color: $red;
}
.modal-card-head, .modal-card-foot {
	background: white;
}
.modal-card-title {
	color: $orange-dark;
	font-size: 2em;
}
.modal-card-title.alt {
	color: black;
	font-size: 1rem;
	h2 {
		color: $orange-dark;
		font-size: 2em;
		margin: 0 0 0.5rem;
	}
	p {
		margin: 0 0 0.5rem;
		line-height: 1.3em;
	}
}
.arrow-column {
	padding-right: 0;
	padding-left: 9px;
}
.notification p.meta {
	font-size: 0.8em;
	opacity: 0.8;
}
.notification.is-info {
	label {
		color: white;
	}
	hr.is-pulled-out {
		margin: 1.5rem -1.5rem 1.5rem -1.5rem;
		border-top: none;
		border-bottom: 1px solid white;
	}
	.notification-next {
		padding-top: 0;
	}
	
	.button.is-outlined {
		color: white;
		border-color: white;
		background: none;
	}
	.button.is-link {
		color: white;
		&:hover {
			background-color: rgba(255,255,255,0.2);
		}
	}
}
.has-item-selected {
	.button {
		opacity: 0.3;
		&:hover {
			opacity: 1;
		}
	}
}
.notification {
	padding-right: 1.5rem;
	.form-actions:last-child {
		margin-bottom: 0;
	}
	h2 {
		font-size: 1.3rem;
		margin-bottom: 0.5rem;
	}
}
.columns.is-gapless.no-margin {
	margin-bottom: 0;
}

.notification-actions {
	margin: -5px 0 -5px 0;
}
.card-header {
	box-shadow: none;
	display: block;
	border-bottom: 1px solid $grey-lighter;
}
.card-content .card-divider {
	margin: 1.5rem -1.5rem 1.5rem;
}
.card-divider.with-label {
	position: relative;
	overflow: visible;
}
.level-stats {
	margin: 0rem 0;
	.level {
		flex-wrap: wrap;
	}
	.level-item {
		margin: 1rem 0;
		width: 19%;
	}
}
.modal-card-foot.right {
	justify-content: flex-end;
	.field.has-addons {
		margin-bottom: 0;
		margin-right: 1em;
		&:last-child {
			margin-right: 0;
		}
	}
	.confirm-prompt {
		margin-right: 0.5rem;
		vertical-align: baseline;
		line-height: 2em;
		font-weight: bold;
	}
	.foot-group {
		margin-right: 1rem;
	}
}
.field.has-addons .control {
	.button.is-light {
		border-left: 1px solid #ccc;
	}
	&:first-child .button.is-light {
		border-left: none;
	}
}
.is-pulled-out {
	margin-left: -1.5em;
	margin-right: -1.5em;
}
.modal-card-head.alt {
	padding-bottom: 0;
	border-bottom: none;
}
.card-divider:hover {
	cursor: pointer;
}
.card-divider.with-label:after {
	content: attr(data-label);
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3px 1rem;
	background: white;
	font-size: 0.9rem;
	color: #777;
	letter-spacing: 0.15em;
	font-weight: bold;
}
.hero.mini .hero-body {
	padding: 0rem 0.7rem;
	margin: 0.5rem 0;
}
.sec-label {
	color: $orange-dark;
}
fieldset {
	border: none;
	margin: 1rem 0;
}
.input[readonly], .input[readonly]:focus {	
	box-shadow: none;
	background: $white-bis;
	border-color: $grey-lighter;
	&:hover {
		border-color: $grey-lighter;
	}
}
.select select[disabled] {
	background: $white-bis;
	border-color: $grey-lighter;
}
.icon.faded {
	opacity: 0.5;
}
.readonly-list {
	margin: 0.25rem 0;
	text-indent: -1.5rem;
	margin-left: 2.3rem;
	span.icon {
		margin-right: 0.1rem;
	}
	.fa.fa-check-circle {
		display: none;
	}
	.fa.fa-circle-thin {
		display: inline-block;
	}
	opacity: 0.5;
	&.selected {
		opacity: 1;
		.fa.fa-check-circle {
			display: inline-block;
		}
		.fa.fa-circle-thin {
			display: none;
		}
	}
}
.mid-form {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.divider {
	border-top: $grey-light;
}
h1, h2, h3 {
	color: $orange-dark;
}
#upload-progress-num {
	text-align: center;
	font-weight: bold;
	margin: 0 0 1rem 0;
	color: black;
	font-size: 2rem;
}
#upload-progress-status {
	margin: 1rem 0 0;
	text-align: center;
	color: $grey;	
	font-weight: bold;
}
#upload-progress-hint {
	margin: 1rem 0 0;
	text-align: center;
	color: $grey;
}
.upload-progress-bar-mini {
	display: inline-block;
	width: 105px;
	line-height: 1rem;
	vertical-align: middle;
}
.is-inactive {
	opacity: 0.3;
}
td, th {
	&.amt {
		text-align: right !important;
	}
}
.mini-pct {
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
}
.upper {
	text-transform: uppercase;
}
.name-segments.boxed {
	border: 1px solid #dbdbdb;
	padding-bottom: calc(0.375em - 3px);
	padding-left: calc(0.625em - 1px);
	padding-right: calc(0.625em - 1px);
	padding-top: calc(0.375em - 3px);
	border-radius: 3px;
}
.name-segments span {
	display: inline-block;
	margin: 0.1em;
	border-bottom: 1px solid white;
	&:hover {
		border-bottom: 1px solid $navy !important;
		color: $navy;
	}
}
.name-segments:hover span {
	border-bottom: 1px solid $grey-lighter;
}
.entity-list {
	padding-left: 1rem;
	li {
		margin: 1rem 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.help {
	font-size: 0.9rem;
}
.card-content .card-title {
	padding: 0 0;
	margin: 0 0 1rem;
}
div.empty {
	padding: 12em 0;
	text-align: center;
	.icon i {
		color: $grey;
	}
	h4 {
		margin: 1rem 0;
		font-size: 1.5rem;
		font-weight: 500;
		color: $orange-dark;
	}
}
.modal-card div.empty {
	padding: 8rem 0;
}
.flexdatalist-results, .code-desc {
	.item-code, .product-code, .item-category, .location-code {
		display: inline-block;
		width: 55px;
		color: $white;
		background: $navy;
		padding: 1px 8px;
		margin: 0 8px 0 0;
		border-radius: 2px;
		font-size: 0.8em;
		font-weight: bold;
	}
	.product-code {
		background: $green;
	}
	.item-category {
		background: $grey;
		text-transform: uppercase;
		width: auto; 
	}
	.location-code {
		background: $grey;
		width: auto;
	}
}

.meta-info {
	display: inline-block;
	border-bottom: 1px dotted $grey-lighter;
}
#create-principal-product-id-flexdatalist-results, #create-principal-product-code-flexdatalist-results, #create-other-products-flexdatalist-results {
	.item-code {
		background: $green;
	}
}
.flexdatalist-multiple li.value {
	z-index: 19;
	color: $black-ter;
	background: $grey-lighter;
}
.flexdatalist-multiple li.input-container, .flexdatalist-multiple li.input-container input {
	border: none;
	height: auto;
	padding: 1px 10px 2px 4px;
	line-height: 24px;
	width: 100%;
	margin: 0;
}
.flexdatalist-alias {
	&:focus {
		box-shadow: none;	
	}
	box-shadow: none;
}
.radio.subtitle {
	margin-bottom: 0.5rem;
}
.radio-help {
	margin: 0.2rem 0 1.5rem 0.4rem;
	border-left: 1px solid #ccc;
	padding: 0.5rem 1rem 0.5rem 1.5rem;
	p {
		margin: 0 0 1rem;
	}
}
.has-floating-remove {
	position: relative;
	.floating-remove {
		position: absolute;
		display: none;
		top: 0rem;
		right: 0rem;
		z-index: 12;
		padding: 2px 2px 0 2px;
		background: white;
		border-bottom: 1px solid $grey-lighter;
		border-left: 1px solid $grey-lighter;
		border-radius: 0 5px 0 5px;
		color: $grey;
	}
}
.has-floating-remove:hover {
	.floating-remove {
		display: block;
	}
}
.card .card-header {
	&:last-child {
		border-bottom: none;
	}
}
.card.card-toggle {
	margin: 1rem 0;
	.card-header {
		border-bottom: none;
		em {
			color: $grey;
			font-weight: normal;
			margin-left: 1rem;
		}
	}
	.card-header:hover {
		cursor: pointer;
		background: $white-bis;
	}
	.card-content {
		border-top: 1px solid $grey-lighter;
	}
}
.x-wrapper {
	position: relative;
	.x-fader {
		&.right {
			background: rgba(255,255,255,0);
			background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.59) 47%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(47%, rgba(255,255,255,0.59)), color-stop(80%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.59) 47%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.59) 47%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.59) 47%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
			background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.59) 47%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
		}
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 100%;
		opacity: 0.9;
		z-index: 10;
		pointer-events: none;
		transition: 0.3s opacity;
		&.hidden {
			opacity: 0;
		}
		&.left {
			background: rgba(255,255,255,1);
			background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0.59) 53%, rgba(255,255,255,0) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(20%, rgba(255,255,255,1)), color-stop(53%, rgba(255,255,255,0.59)), color-stop(100%, rgba(255,255,255,0)));
			background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0.59) 53%, rgba(255,255,255,0) 100%);
			background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0.59) 53%, rgba(255,255,255,0) 100%);
			background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0.59) 53%, rgba(255,255,255,0) 100%);
			background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0.59) 53%, rgba(255,255,255,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
			left: 0;
		}
	}
}

.x-scroll {
	overflow-x: scroll;
	overflow-y: hidden;
	z-index: 9;
	position: relative;
}
.intent-view span.required {
	display: none;
}
.no-expand {
	max-width: 100%;
}
span.required {
	color: $grey-light;
	font-size: 0.7rem;
	vertical-align: text-top;
	
	margin-left: 0rem;
	.icon.is-small i.fa {
		font-size: 0.7rem;
	}
}
.notification span.icon:first-child {
	margin-right: 0.5rem;
}
.icon.is-large {
	font-size: 3rem;
}
.row-remove span.icon i {
	color: $grey;
}
a.button.row-remove.upper-right-corner {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-style: none;
	border-right-style: none;
}
.notification.app-violator {
	position: relative;
	padding-left: 55px;
	margin: -15px -20px 1rem;
	border-radius: 0;
	.icon.main {
		position: absolute;
		top: 18px;
		left: 20px;
	}
}
.report-loading {
	text-align: center;
	padding: 8rem 0;
	position: relative;
	border-radius: 0;
	span.icon.main {
		position: static;
		left: auto;
		top: auto;
		display: block;
		text-align: center;
		margin: 1rem auto;
	}
}
.message-card {
	max-width: 500px;
	h2 {
		font-weight: 600;
		font-size: 2rem;
		margin: 0 0 1.2rem 0;
		line-height: 1.1em;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: 600;
		margin: 1.2rem 0;
		color: $grey;
		line-height: 1.2em;
	}
}
#loading {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9990;
	width: 100%;
	height: 100%;
	background: rgba(10, 10, 10, 0.86);
	color: white;
	#spinner {
		position: absolute;
		top: 48%;
		i {
			font-size: 90px;
			color: white;
			text-shadow: 0 0 6px rgba(0,0,0,0.3);
		}
		left: 50%;
	}
}
.modal {
	.divider {
		margin: 0 0 0 0;
	}
	//
	.modal-container {
		border-radius: 4px;
		//
		.modal-header > .modal-title {
			color: $orange-dark;
			font-size: 2.5rem;
			font-weight: 500;
		}
	}
}
td.empty {
	padding: 4rem 1rem;
	text-align: center;
	color: $grey;
}
.content h5 {
	font-size: 1rem;
	margin: 0 0 1rem 0;
	font-weight: 600;
	color: #7a7a7a;
	text-transform: uppercase;
}
a.file-item {
	padding: 0.8rem 1.5rem;
	display: block;
	transition: 0.3s;
	&:hover {
		background: $white-bis;
		transition: 0s;
	}
	.icon {
		margin: 0.2rem 1rem 0 0;
	}
	p {
		line-height: 1.3em;
		margin: 0;
		small {
			color: $grey;
		}
	}
}
.link-group {
	h5, a {
		line-height: 2em;
	}
	h5 {
		margin-bottom: 0;
	}
	a {
		display: block;
	}
}
#app {
	//
	#app-canvas {
		min-width: 100vw;
		// padding: 0 0 0 0 !important;
		// margin: 0 0 0 0 !important;
		//
		#app-navbar {
			border-bottom: 4px solid $blue;
			overflow: visible;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 20;
			.navbar-item.has-dropdown {
				span.icon {
					margin-right: 0.5rem;
				}
			}
		}
		//
		#app-content {
			min-height: 100vh;
			width: calc(100vw - 180px);
		}
		#app-main {
			padding: 0 0 0 0 !important;
			margin: 0 0 0 0 !important;
			min-height: 100vh;
			//
			//
			#app-content {
				padding: 65px 20px 20px !important;
			}
			#app-sidebar {
				background: $blue;
				padding: 0 0 0 0 !important;
				margin: 0 0 0 0 !important;
				min-height: 100vh;
				box-shadow: 1px 0 8px rgba(0,0,0,0.3);
				z-index: 19;
				//
				#app-sidebar-nav {
					position: fixed;
					top: 50px;
					width: 180px;
					z-index: 19;
					//
					.navx {
						padding: 0 0 0 0 !important;
						margin: 0 0 0 0 !important;
						//
						.navx-item {
							padding: 0 0 0 0 !important;
							margin: 0 0 0 0 !important;
							position: relative;
							//
							&:hover {
								.sub-nav {
									display: block;
									background: #565656;
									position: absolute;
									left: 180px;
									width: 200px;
									top: 0;
									z-index: 19;
									.sub-nav-item:hover {
										background: #787878;
									}
								}
							}
							//
							a {
								padding: 20px 25px !important;
								margin: 0 0 0 0 !important;
								color: $white-ter;
								font-weight: 700;
								display: block;
								font-size: 1rem;
							}
							&:hover>a {
								background: #787878;
								transition: background 0.3s;
							}
							.sub-nav {
								display: none;
								background: #565656;
							}
						}
					}
				}
			}
			//
			#app-footer {
			}
		}
	}
	//
	#app-off-canvas {
		display: none;
		> * {
			display: block;
		}

	}
	&.role {
		&-administrator {
			#app-navbar			{ border-bottom: 4px solid $blue !important; }
			#app-sidebar		{ background: #454545 !important; }
			#app-sidebar-nav	{ background: none; }
		}
		&-supervisor {
			#app-navbar			{ border-bottom: 4px solid $orange !important; }
			#app-sidebar		{ background: #454545 !important; }
			#app-sidebar-nav	{ background: none; }
		}
		&-encoder 		{
			#app-navbar			{ border-bottom: 4px solid $green !important; }
			#app-sidebar 		{ background: #454545 !important; }
			#app-sidebar-nav	{ background: none; }
		}
		&-stakeholder 	{
			#app-navbar			{ border-bottom: 4px solid $turquoise !important; }
			#app-sidebar 		{ background: #454545 !important; }
			#app-sidebar-nav	{ background: none; }
		}
	}
}
.fake-1, .fake-2, .fake-3, .fake-4, .fake-5, .fake-6, .fake-7, .fake-8, .fake-9, .fake-10 {
	display: inline-block;
	background: $grey-lighter;
	height: 1rem;
	line-height: 1.3rem;
}
.fake-1 { width: 40px; }
.fake-2 { width: 80px; }
.fake-3 { width: 120px; }
.fake-4 { width: 160px; }
.fake-5 { width: 200px; }
.fake-6 { width: 240px; }
.fake-7 { width: 280px; }
.fake-8 { width: 320px; }
.fake-9 { width: 360px; }
.fake-10 { width: 400px; }
.tabs.is-boxed li a.diff-tab {
	transition: 0.3s;
}
.tabs.is-boxed li.is-active a.diff-tab {
	background-color: #d5ecf6;
	transition: 0.3s;
	transition-delay: 0.5s;
}
.card-footer {
	padding: 1rem 1rem;
}
.notification.one-liner {
	p {
		margin: 0.4rem 0.2rem;
		span.icon {
			margin-right: 0.5rem;
		}
	}

}
.content-tab.diff-content {
	background: #d5ecf6;
	background: -moz-linear-gradient(top, #d5ecf6 0%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #d5ecf6), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(top, #d5ecf6 0%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(top, #d5ecf6 0%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(top, #d5ecf6 0%, rgba(254,254,254,1) 100%);
	background: linear-gradient(to bottom, #d5ecf6 0%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ecf6', endColorstr='#fefefe', GradientType=0 );
	margin: -1.5rem;
	.padding { 
		padding: 1.5rem;
		table.table {
			background: none;
			thead {
				th, td {
					border-color: $blue;
				}
			}
			td, th {

			}
			tr:hover {
				td, th {
					background: rgba(0,0,0,0.1);
				}
			}
		}
	}
}
.input.is-success[readonly], .select.is-success select[disabled], .is-success .name-segments.boxed {
	border-color: $green;
	background: $green-faded;
}
.input.is-danger[readonly], .select.is-danger select[disabled], .is-danger .name-segments.boxed {
	border-color: $red !important;
}
.input.is-info[readonly], .select.is-info select[disabled], .is-info .name-segments.boxed {
	border-color: $blue;
	background: $blue-lighter;
}
.field.is-info {
	label.label {
		color: $blue;
	}
}
.field.is-success {
	label.label {
		color: $green;
	}
}
.dashboard-activity {
	max-height: 220px;
	padding: 0 15px;
	overflow-y: scroll;
	.empty {
		padding: 4em 0;
		h4 {
			color: $grey-lighter;
		}
	}
}
.chop td {
	word-break: break-word;
}
.modal-full-height .modal-card {
	height: calc(100vh - 40px);
}
.tab-badge {
	display: inline-block;
	background: $blue;
	padding: 0 0.5em;
	margin: 0 0 0 0.5em;
	color: white;
	border-radius: 50px;
	&.is-success {
		background: $green;
	}
	&.is-danger {
		background: $red;
	}
	&.is-light {
		background: $grey-lighter;
	}
}
#app-sidebar-inner {
	width: 180px;
	height: 200px;
}
@media (min-width: 769px) {
	#search-refine {
		position: sticky;
		top: 75px;
	}
}
@media (max-width: 768px) {
	#app-content {
		width: auto !important;
	}
	#app #app-canvas #app-main {
		#app-sidebar {
			position: fixed;
			height: auto;
			top: 0;
			left: 0;
			width: 100%;
			min-height: auto !important;
			max-height: 0;
			overflow: hidden;
			transition: 0.3s;
			&.is-active {
				max-height: 1000px;
			}
			#app-sidebar-inner {
				height: auto;
				width: 100%;
				padding-top: 50px;
				#app-sidebar-nav {
					position: static;
				}
			}
		}
	}
	
}
@media (max-width: 1200px) {
	.level-stats .level-item {
		width: 48%;
	}
}
@media (min-width: 1100px) {
	.modal-card-body {
		overflow-x: hidden;
	}
}
[v-cloak] { display: none }